body
{

	background-color: #D7DBDD;
	font-family: Agency Fb;
}
a{
	text-decoration: none;
	color: red; 
}
h1{
	margin:  0;
}
#container
{
	background-color: #EBF5FB;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	background-color: #E0FFFF;
	color: black;
	text-align: center;
	padding: 10px;
}

#content
{
	background-color: black;
	color: white;
	text-align: center;
	padding: 0px;
}

#nav
{
	text-align: center;
	background-color: #7FB3D5;
	width: 180px;
	height: 400px;
	float: left;

}
#nav ul{
	list-style-type: none;
	padding: 0;
}

}
#main
{
	
	width:600px;
	float: right;
	

}
#footer
{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color:white;
	text-align: right;

}

